<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method NewsController.showNews -->
    <form id="filter-form" method="get" action="/">
        <label for="price">Price</label>
        <input id="price" type="number" name="price"/>
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="">All</option>
            <!-- For each type you should have one <option> like below  -->
            <option th:each="type : ${types}" th:text="${type.name()}" th:value="${type.name()}">[type]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div sec:authorize="hasRole('ADMIN')">
        <!-- NewsController.showAdd -->
        <a href="/news/add" class="add-item">
            Add news
        </a>
    </div>
    <table>
        <tr>
            <th>Match name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Type</th>
            <th>Category</th>
            <th>Likes</th>
            <th>Actions</th>
        </tr>
        <!-- For each news you should have one <tr> like below -->
        <tr class="item" th:each="e : ${news}">
            <td th:text="${e.getName()}">[news.name]</td>
            <td th:text="${e.getDescription()}">[news.description]</td>
            <td th:text="${e.getPrice().toString()}">[news.price]</td>
            <td th:text="${e.getType().name()}">[news.type]</td>
            <td th:text="${e.getCategory().getName()}">[news.category]</td>
            <td th:text="${e.getLikes().toString()}"> [news.likes]</td>
            <td>
                <!-- NewsController.delete -->
                <form method="post" th:action="@{'/news/{id}/delete' (id=${e.getId()})}"
                      sec:authorize="hasRole('ADMIN')">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- NewsController.showEdit -->
                <a class="edit-item" th:href="@{'/news/{id}/edit' (id=${e.getId()})}"
                   sec:authorize="hasRole('ADMIN')">Edit</a>
                <!-- NewsController.follow -->
                <form method="post" th:action="@{'/news/{id}/like' (id=${e.getId()})}"
                      sec:authorize="hasRole('USER')">
                    <button type="submit" class="like-item">Like</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
